$topnav-background-color: #fff;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #FF7800;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #FF7800;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    :host {
        .navbar {
            background-color: #283245;
            .navbar-brand {
                color: #FF7800;
            }
            .nav-item > a {
                color: #999;
                &:hover {
                    color: #FF7800;
                }
            }
        }
        .messages {
            width: 300px;
            .media {
                border-bottom: 1px solid #ddd;
                padding: 5px 10px;
                &:last-child {
                    border-bottom: none;
                }
            }
            .media-body {
                h5 {
                    font-size: 13px;
                    font-weight: 600;
                }
                .small {
                    margin: 0;
                }
                .last {
                    font-size: 12px;
                    margin: 0;
                }
            }
        }
    }
    .img-align {
        margin-right: 90px;
    }
  }
