
.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card-align {
    margin-top:20px;
    margin-bottom:40px;
}

.tableHeader {
    color: #868e96 !important;
    font-size: 13px;
}

.themeLabelColor {
    color:#FF7800;
}

.themeBtnColor {
    background-color: #FF7800;
    border-color: #FF7800;
    margin: 25px;
    color:#fff;
}

.headerleft {
    margin-left: 0px;
    margin-top: 25px;
}


