
.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card-align {
    margin-top:20px;
    margin-bottom:40px;
}

.tableHeader {
    color: #838A95 !important;
    font-size: 12px;
    font-family: Muli, Light;
}

.table-Header {
    color: #BABEC5;
    font-size: 12px;
    font-family: Muli, Bold;
}

.help-text {
    color:#2D3A4C;
    font-size: 12px;
    font-family: Muli, SemiBold;
}

.themeLabelColor {
    color:#FF7800;
}

.textbox-border {
    border:1px solid gray;
}

.themeBtnColor {
    background-color: #FF7800;
    border-color: #FF7800;
    margin: 25px;
    color:#fff;
    height:50px;
    width:200px;
    font-size: 14px;
    font-family: Muli, SemiBold;
}

.cancelBtn {
    height:50px;
    width:200px;
    color:#C9CBD0;
    font-size: 14px;
    font-family: Muli, SemiBold;
}

.headerleft {
    margin-left: 0px;
    margin-top: 25px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.inlineBlock {
    display:inline-block;
}

.header-label {
    color: #2D3A4C;
    font-size: 20px;
    font-family: Muli, SemiBold;
}

.content-label {
    color: #283245 !important;
    font-size: 14px;
    font-family: Muli, Bold;
}

.quantity-label {
    color:#424D5D;
    font-size: 14px;
    font-family: Muli, SemiBold;
}

.comp-label {
    color: #2D3A4C !important;
    font-size: 14px;
    font-family: Muli, Bold;
}


