
.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card-align {
    margin-top:20px;
    margin-bottom:40px;
}

.tableHeader {
    color: #838A95 !important;
    font-size: 12px;
}

.content-label {
    color: #283245 !important;
    font-size: 14px;
}

.header-label {
    color: #2D3A4C !important;
    font-size: 20px;
}

.themeLabelColor {
    color:#FF7800;
}

.themeBtnColor {
    background-color: #FF7800;
    border-color: #FF7800;
    margin: 25px;
    color:#fff;
    height:50px;
    width:200px;
}

.quantity-label {
    color:#424D5D;
    font-size: 14px;
}

.cancelBtn {
    height:50px;
    width:200px;
    color:#C9CBD0;
}

.headerleft {
    margin-left: 0px;
    margin-top: 25px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.inlineBlock {
    display:inline-block;
}

.comp-label {
    color: #2D3A4C !important;
    font-size: 14px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


