<div [@routerTransition]>
    <div class="row headerleft">
        <label class="headerGray">DASHBOARD /</label>&nbsp;
        <label> OFFERS</label>
    </div>
</div>
<div class="headerleft">
    <label class="offerLabel">OFFERS</label>
    <div class="pull-right">
        <button type="submit" class="btn themeBtnColor" [routerLink]="['/create-offer']">CREATE OFFER</button>
    </div>
</div>

<div class="row headerCardBody">
    <div class="col-xl-12 text-xs-center">
        <div class="card mb-3">
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab label="{{ 'Ongoing' | translate }}">
                        <br />
                        <div class="row">
                            <!-- <div class="col-sm-6" *ngFor="let offer of dashboardOffer">
                                <div class="card mb-3">
                                    <div class="card-header bg-light">
                                        <img src="{{offer.product.imageUrl}}" class="avatar">
                                        {{offer.product.name}}
                                        <div class="pull-right">VIEW FULL DETAILS</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table borderless">
                                                <tbody>
                                                    <tr>
                                                        <th class="tableHeader">Offers</th>
                                                        <th class="tableHeader">Sub-offers</th>
                                                        <th class="tableHeader">Price</th>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>5</td>
                                                        <td>{{offer.price}}/ kg</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tableHeader">Quantity available</th>
                                                        <th class="tableHeader">Quantity sold</th>
                                                        <th class="tableHeader">Last Offer ended on</th>
                                                    </tr>
                                                    <tr>
                                                        <td>{{offer.quantity}}</td>
                                                        <td>{{offer.quantitySold}}</td>
                                                        <td>{{offer.ended | date:'MM/dd/yyyy'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-6" [ngbCollapse]="isCollapsed" *ngFor="let offer of dashboardOffer">
                                <div class="card mb-3">
                                    <div class="card-header bg-warning">
                                        <img src="{{offer.product.imageUrl}}" class="avatar">
                                        {{offer.product.name}}&nbsp;
                                        <label class="noExpiryGray">{{ 'Noexpiry' | translate }}</label>&nbsp;&nbsp;
                                        <img src="../../../assets/images/Components/ic_more_info_small_orange@2x.png"
                                            (click)="open(content)" class="img-responsive">
                                        <ng-template #content let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                <h5 class="modal-title tableHeader"><img src="../../../assets/images/Components/ic_more_info_black.png"
                                                        class="img-responsive">&nbsp;&nbsp;{{ 'No Expiry' | translate
                                                    }}</h5>
                                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ 'Terminate Date' | translate }}</p><br />
                                                <div class="align-center">
                                                    <a href="javascript:void(0)" aria-label="Close" (click)="d('Cross click')"
                                                        [routerLink]="['/add-end-date']">{{ 'Add End Date' | translate
                                                        }}</a>
                                                </div>
                                            </div>
                                            <!-- <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                                          </div> -->
                                        </ng-template>
                                        <div class="pull-right">
                                            <!-- menu opens when trigger button is clicked -->
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>

                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item [routerLink]="['/offer-history']">{{ 'Show History' | translate }}</button>
                                                <button mat-menu-item [routerLink]="['/edit-quantity']">{{ 'Edit
                                                    Quantity' | translate }}</button>
                                                <button mat-menu-item>{{ 'Terminate Early' | translate }}</button>
                                            </mat-menu>

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <label class="tableHeader"><strong>{{ 'Quantity' | translate }}</strong></label>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar"
                                                    aria-valuenow="offer.quantitySold" aria-valuemin="0" aria-valuemax="offer.quantity"
                                                  [style.width]="offer.quantitySold + '%'">
                                                </div>
                                            </div>
                                            <br />
                                            <label>Sold {{offer.quantitySold}} kgs</label>&nbsp;&nbsp;<label>Available
                                                {{offer.quantity}} kgs</label><br />
                                            <label class="tableHeader"><strong>{{ 'Price' | translate }}</strong></label><br />
                                            <label>{{offer.price}} per box</label><br />
                                            <h5 class="themeLabelColor">{{ 'Change Price' | translate }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>