.headerGray {
    color: #868e96 !important;
}

.headerleft {
    margin-left: 0px;
    margin-top: 25px;
}

.offerLabel {
    color:#FF7800;
}

.selected {
    background-color: rgb(255, 240, 225);
    border-color: 2px solid #FF7800;
}

.themeBtnColor {
    background-color: #FF7800;
    border-color: #FF7800;
    margin: 10px;
    color:#fff;
    height:50px;
    width:200px;
    font-size: 14px;
    font-family: Muli, SemiBold;
}

.cancelBtn {
    height:50px;
    width:200px;
    color:#C9CBD0;
    font-size: 14px;
    font-family: Muli, SemiBold;
}

.backBtn {
    height:50px;
    width:200px;
    background-color: #424D5D;
    border-color: #424D5D;
    margin: 10px;
    color:#fff;
    font-size: 14px;
    font-family: Muli, SemiBold;
}

.themeLabelColor {
    color:#FF7800;
}

.borderless td, .borderless th {
    border: none;
}

.inlineBlock {
    display:inline-block;
}

.tableHeader {
    color:#BABEC5;
    font-size: 12px;
    font-family: Muli, Bold;
}

.tableHeaderColor {
    background-color:#FF7800;
    color:#BABEC5;
    font-size: 12px;
}

.tableBody {
    color: #424D5D;
    font-size: 14px;
    font-family: Muli, SemiBold;
}

.table-Body {
    color: #43425D;
    font-size: 14px;
    font-family: Muli, Bold;
}

.tableBodyColor {
    background-color:#FF7800;
    color: #424D5D;
    font-size: 14px;
}

.step-align {
    text-align: center;
    color:#2D3A4C;
    font-size: 14px;
    font-family: Muli, Bold;
}

.help-align {
    color:#2D3A4C;
    font-size: 12px;
    font-family: Muli, Light;
}

.catalog-align {
    text-align: center;
    color:#BABEC5;
    font-size: 12px;
    font-family: Muli, Light;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.product-style {
    color: #2D3A4C;
    font-size: 14px;
}

.label-style {
    color:#2D3A4C;
    font-size: 14px;
}

.slider-div {
    background-color:rgb(255, 240, 225);
}

.inlineBlock {
    display:inline-block;
}

.margin-align {
    margin-top: 35px;
}

