<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <!-- <h1 class="headerLabel"><strong>GASTROZON</strong></h1> -->
            <img src="../../assets/images/Components/ic_gastrozon_logo_large.png" class="img-responsive"><br />
            <h3 class="login-label">LOGIN</h3>
            <label class="loginLabel">Please login into your supplier account</label>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <div class="input-group inputWithIcon">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control input-underline input-lg" name="username"
                                placeholder="Email" [(ngModel)]="login.email" required="required" />

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group inputWithIcon">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control input-underline input-lg" name="password"
                                placeholder="Password" [(ngModel)]="login.password" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox pull-left">
                                <mat-checkbox><h3 class="remem-label"> Remember me</h3></mat-checkbox>
                            <!-- <label class="remem-label">
                                <input type="checkbox" value=""> Remember me
                            </label> -->
                        </div>
                        <div class="pull-right forget-label"> Forget Password?</div>
                    </div>
                </div>

                <a class="btn rounded-btn" (click)="onLoggedin()"> LOGIN </a>
                &nbsp;
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
            </form>
        </div>
    </div>
</div>