$topnav-background-color: #fff;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #222;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(114, 99, 99, 0.5);
        color: 1px solid rgba(114, 99, 99, 0.5);
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 1px solid rgba(114, 99, 99, 0.5);
        box-shadow: none;
    }
    .rounded-btn {
        // -webkit-border-radius: 50px;
        // border-radius: 50px;
        color: #fff;
        background: #FF7800;
        border: 2px solid #FF7800;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    // .rounded-btn:hover,
    // .rounded-btn:focus,
    // .rounded-btn:active,
    // .rounded-btn:visited {
    //     color: rgba(255, 255, 255, 1);
    //     border: 2px solid rgba(255, 255, 255, 1);
    //     outline: none;
    // }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    .headerLabel {
        color:#FF7800;
    }
    .loginLabel {
        color:#6C7581;
        font-size: 12px;
        //font-family: Muli, Regular
    }

    .inputWithIcon input[type="text"] {
        padding-left: 40px;
      }

    .inputWithIcon input[type="password"] {
        padding-left: 40px;
      }
      
    .inputWithIcon {
        position: relative;
      }
      
    .inputWithIcon i {
        position: absolute;
        left: 0;
        top: 8px;
        padding: 9px 8px;
        color: #aaa;
        transition: 0.3s;
      }
      
    .inputWithIcon input[type="text"]:focus + i {
        color: dodgerBlue;
      }
      
      .inputWithIcon.inputIconBg i {
        background-color: #aaa;
        color: #fff;
        padding: 9px 4px;
        border-radius: 4px 0 0 4px;
      }
      
      .inputWithIcon.inputIconBg input[type="text"]:focus + i {
        color: #fff;
        background-color: dodgerBlue;
      }

      .login-label {
          color:#283245;
          font-size: 24px;
          //font-family: Muli, Bold;
          margin-top:25px;
      }
      .remem-label {
        color:#283045;
        font-size: 12px;
        //font-family: Muli, Regular;
        margin-top:10px;
      }
      .forget-label {
        margin-top:7px;
        color:#2D3A4C;
        font-size: 12px;
        //font-family: Muli, Light;
      }
      
}
