.headerGray {
    color:#9FA4AD;
    font-size: 14px;
    font-family: Muli, Bold
}

.headerleft {
    margin-left: 0px;
    margin-top: 0px;
}

.offerLabel {
    color:#FF7800;
}

.themeBtnColor {
    background-color: #FF7800;
    border-color: #FF7800;
    margin: 25px;
    color:#fff;
    font-size: 14px;
    font-family: Muli, Semi Bold
}

.themeLabelColor {
    color:#FF7800;
}

.inlineBlock {
    display:inline-block;
}

.headerCardBody {
    margin-top: 0px;
}

.tableHeader {
    color: #BABEC5;
    font-size: 12px;
    font-family: Muli, Bold
}

.borderless td, .borderless th {
    border: none;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.progress-bar-success {
    background-color: #5cb85c;
    border-radius: 20px;
}

.progress-bar-warning {
    background-color: #f0ad4e;
    border-radius: 20px;
}

.progress-bar-danger {
    background-color: #d9534f;
    border-radius: 20px;
}

.mat-ink-bar {
    position: absolute;
    top: 0;
    height: 2px;
    transition: .5s cubic-bezier(.35,0,.25,1);
    visibility: visible; 
    left: 0px;
    width: 160px; 
}

.align-center {
    text-align: center;
    font-size: 12px;
    font-family: Muli, SemiBold;
}

.filter-align {
    margin-top:6px;
    color:#2D3A4C;
    font-size: 14px;
    font-family: Muli, Regular;
}
.filter-img-align {
    margin-top:10px
}

.priceBtn {
    color:#FF7800;
    font-size: 14px;
    font-family: Muli, Bold;
}

.cardHeaderOne {
    background-color:#FAD5B4;
}

.cardHeaderTwo {
    background-color:#FAB4B4;
}

.offer-label {
    color:#2D3A4C;
    font-size: 20px;
    font-family: Muli, Semi Bold
}

.here-label {
    color:#FF7800;
    font-size: 14px;
    font-family: Muli, Bold
}

.product-label {
    color:#283245;
    font-size: 16px;
    font-family: Muli, Bold;
    margin-top:8px;
}

.expiry-label {
    color:#57616F;
    font-size: 12px;
    font-family: Muli, Regular;
}

.title-label {
    color:#424D5D;
    font-size: 14px;
    font-family: Muli, Regular;
}

.value-label {
    color:#424D5D;
    font-size: 14px;
    font-family: Muli, Bold;
}

.price-label {
    color:#424D5D;
    font-size: 14px;
    font-family: Muli, Semi Bold;
}

.menu-label{
    color:#283045;
    font-size: 12px;
    font-family: Muli, Regular;
}

.reset-label{
    color:#C9CBD0;
    font-size: 14px;
    font-family: Muli, Bold;
}

.apply-label{
    color:#FF7800;
    font-size: 14px;
    font-family: Muli, Bold;
}

.filter-label{
    color:#9FA4AD;
    font-size: 12px;
    font-family: Muli, Regular;
}

.filter-header{
    color:#2D3A4C;
    font-size: 12px;
    font-family: Muli, Bold;
}

.no-expiry-header{
    color:#9FA4AD;
    font-size: 14px;
    font-family: Muli, Regular;
}

.date-label{
    color:#535A69;
    font-size: 14px;
    font-family: Muli, Regular;
}


