<div class="row headerCardBody">
  <div class="col-xl-12 text-xs-center">
    <div class="card mb-3">
      <div class="card-body">
        <div [@routerTransition]>
          <div class="row headerleft">
            <h3 class="offer-label">{{ 'Offer' | translate }}</h3>
          </div>
        </div>
        <div>
          <label class="headerGray">{{ 'Offer Details' | translate }}&nbsp;<span class="here-label">{{ 'Here' |
              translate
              }}</span></label>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn themeBtnColor" [routerLink]="['/create-offer']">{{ 'Create Offer' |
            translate }}</button>
        </div>
        <div class="pull-right">
          <img src="../../../assets/images/Components/ic_filters_active.png" class="img-responsive" (click)="filterEnable=!filterEnable">&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="../../../assets/images/Components/ic_search_active.png" class="img-responsive" (click)="searchEnable=!searchEnable">
        </div>
        <br /><br />
        <div *ngIf="searchEnable === true">
          <form role="form">
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="search by product name">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="filterEnable === true">
          <div class="row">
            <div class="col-sm-12" [ngbCollapse]="isCollapsed">
              <div class="card mb-3">
                <div class="card-body">
                  <div>
                    <div class="pull-left">
                      <img src="../../../assets/images/Components/ic_filters_active.png" class="img-responsive filter-img-align">
                    </div>&nbsp;&nbsp;
                    <label class="filter-align">{{ 'Filter' | translate }}</label>
                    <div class="pull-right">
                      <button mat-button><span class="reset-label">{{ 'Reset' | translate }}</span></button>
                      <button mat-button><span class="apply-label">{{ 'Apply' | translate }}</span></button>
                    </div><br />
                    <div>
                      <label class="filter-header">{{ 'Discount' | translate }}</label><br />
                      <mat-radio-group>
                        <mat-radio-button value="1"><label class="filter-label">{{ 'With' | translate }}</label></mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="2"><label class="filter-label">{{ 'Without' | translate }}</label></mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div>
                      <label class="filter-header">{{ 'Quantity' | translate }}</label><br />
                      <mat-radio-group>
                        <mat-radio-button value="1"><label class="filter-label">&gt; 50% Sold</label></mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="2"><label class="filter-label">&gt; 50% Available</label></mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div>
                      <label class="filter-header">{{ 'Expiry' | translate }}</label><br />
                      <mat-radio-group>
                        <mat-radio-button value="1"><label class="filter-label">&lt; 5 Days to expire</label></mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="2"><label class="filter-label">&gt; 5 Days to expire</label></mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br /><br />
        </div>
        <mat-tab-group>
          <mat-tab label="{{ 'Ongoing' | translate }}">
            <br />
            <div class="row">
              <div class="col-sm-6" [ngbCollapse]="isCollapsed">
                <div class="card mb-3">
                  <div class="card-header cardHeaderOne">
                    <img src="https://greenmylife-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/Carrot.jpg" class="avatar">
                    &nbsp;<label class="product-label">APPLE</label>&nbsp;&nbsp;
                    <label class="expiry-label">{{ 'Noexpiry' | translate }}</label>&nbsp;
                    <img src="../../../assets/images/Components/ic_more_info_small_orange.png" (click)="open(content)"
                      class="img-responsive">
                    <ng-template #content let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <h5 class="modal-title no-expiry-header"><img src="../../../assets/images/Components/ic_more_info_black.png"
                            class="img-responsive">&nbsp;&nbsp;{{ 'No Expiry' | translate }}</h5>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p class="date-label">{{ 'Terminate Date' | translate }}</p><br />
                        <div class="align-center">
                          <a href="javascript:void(0)" aria-label="Close" (click)="d('Cross click')" [routerLink]="['/add-end-date']">{{
                            'Add End Date' | translate }}</a>
                        </div>
                      </div>
                      <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                      </div> -->
                    </ng-template>
                    <div class="pull-right">
                      <!-- menu opens when trigger button is clicked -->
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>

                      <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/offer-history']"><label class="menu-label">{{ 'Show History' | translate }}</label></button>
                        <button mat-menu-item [routerLink]="['/edit-quantity']"><label class="menu-label">{{ 'Edit Quantity' | translate }}</label></button>
                        <button mat-menu-item><label class="menu-label">{{ 'Terminate Early' | translate }}</label></button>
                      </mat-menu>

                    </div>
                  </div>
                  <div class="card-body">
                    <div>
                      <label class="tableHeader"><strong>{{ 'Quantity' | translate }}</strong></label>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                          aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        </div>
                      </div>
                      <br />
                      <label class="title-label">Sold</label>&nbsp;<label class="value-label"> 64 kgs</label>&nbsp;&nbsp;<label class="title-label">Available</label>&nbsp;<label class="value-label"> 36 kgs</label><br />
                      <label class="tableHeader"><strong>{{ 'Price' | translate }}</strong></label><br />
                      <label class="price-label"><i class="fa fa-eur"></i>&nbsp;&nbsp;3.99 per box</label><br />
                      <button mat-button class="priceBtn" [routerLink]="['/change-price']">{{ 'Change Price' |translate
                        }}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" [ngbCollapse]="isCollapsed">
                <div class="card mb-3">
                  <div class="card-header cardHeaderTwo">
                    <img src="https://greenmylife-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/Carrot.jpg" class="avatar">
                    &nbsp;<label class="product-label">TOMATO</label>&nbsp;&nbsp;
                    <label class="expiry-label">end in 3 days</label>&nbsp;&nbsp;
                    <div class="pull-right">
                      <!-- menu opens when trigger button is clicked -->
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>

                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>{{ 'Show History' | translate }}</button>
                        <button mat-menu-item>{{ 'Edit Quantity' | translate }}</button>
                        <button mat-menu-item>{{ 'Terminate Early' | translate }}</button>
                      </mat-menu>
                    </div>
                  </div>
                  <div class="card-body">
                    <div>
                      <label class="tableHeader">{{ 'Quantity' | translate }}</label>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20"
                          aria-valuemin="0" aria-valuemax="100" style="width:20%">
                        </div>
                      </div>
                      <br />
                      <label class="title-label">Sold</label>&nbsp;<label class="value-label"> 64 kgs</label>&nbsp;&nbsp;<label class="title-label">Available</label>&nbsp;<label class="value-label"> 36 kgs</label><br />
                      <label class="tableHeader">{{ 'Price' | translate }}</label><br />
                      <label class="price-label"><i class="fa fa-eur"></i>&nbsp;&nbsp;3.99 per box</label><br />
                      <button mat-button class="priceBtn" [routerLink]="['/change-price']">{{ 'Change Price' |translate
                        }}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" [ngbCollapse]="isCollapsed">
                <div class="card mb-3">
                  <div class="card-header cardHeaderOne">
                    <img src="https://greenmylife-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/Carrot.jpg" class="avatar">
                    &nbsp;<label class="product-label">ORANGE</label>&nbsp;&nbsp;&nbsp;
                    <label class="expiry-label">end in 2 days</label>&nbsp;&nbsp;
                    <div class="pull-right">
                      <!-- menu opens when trigger button is clicked -->
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>

                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>{{ 'Show History' | translate }}</button>
                        <button mat-menu-item>{{ 'Edit Quantity' | translate }}</button>
                        <button mat-menu-item>{{ 'Terminate Early' | translate }}</button>
                      </mat-menu>
                    </div>
                  </div>
                  <div class="card-body">
                    <div>
                      <label class="tableHeader"><strong>{{ 'Quantity' | translate }}</strong></label>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        </div>
                      </div>
                      <br />
                      <label class="title-label">Sold</label>&nbsp;<label class="value-label"> 64 kgs</label>&nbsp;&nbsp;<label class="title-label">Available</label>&nbsp;<label class="value-label"> 36 kgs</label><br />
                      <label class="tableHeader"><strong>{{ 'Price' | translate }}</strong></label><br />
                      <label class="price-label"><i class="fa fa-eur"></i>&nbsp;&nbsp;3.99 per box</label><br />
                      <button mat-button class="priceBtn" [routerLink]="['/change-price']">{{ 'Change Price' |translate
                        }}</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-6" [ngbCollapse]="isCollapsed">
                <div class="card mb-3">
                  <div class="card-header bg-primary">
                    <img src="https://greenmylife-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/Carrot.jpg" class="avatar">
                    TOMATO
                    <label class="noExpiryGray">{{ 'Noexpiry' | translate }}</label>
                    <div class="pull-right">VIEW FULL DETAILS</div>
                  </div>
                  <div class="card-body">
                    <progress-bar [progress]="100" [color]="'#488aff'">
                    </progress-bar>
                    <div class="table-responsive">
                      <table class="table borderless">
                        <tbody>
                          <tr>
                            <th class="tableHeader">Offers</th>
                            <th class="tableHeader">Sub-offers</th>
                            <th class="tableHeader">Price</th>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>4</td>
                            <td>1.46/kg</td>
                          </tr>
                          <tr>
                            <th class="tableHeader">Quantity available</th>
                            <th class="tableHeader">Quantity sold</th>
                            <th class="tableHeader">Last Offer ended on</th>
                          </tr>
                          <tr>
                            <td>75 kgs</td>
                            <td>37 kgs</td>
                            <td>12/12/2018</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" [ngbCollapse]="isCollapsed">
                <div class="card mb-3">
                  <div class="card-header bg-secondary">
                    <img src="https://greenmylife-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/Carrot.jpg" class="avatar">
                    POTATO
                    <div class="pull-right">VIEW FULL DETAILS</div>
                  </div>
                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100" style="width:40%">
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table borderless">
                        <tbody>
                          <tr>
                            <th class="tableHeader">Offers</th>
                            <th class="tableHeader">Sub-offers</th>
                            <th class="tableHeader">Price</th>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>4</td>
                            <td>1.46/kg</td>
                          </tr>
                          <tr>
                            <th class="tableHeader">Quantity available</th>
                            <th class="tableHeader">Quantity sold</th>
                            <th class="tableHeader">Last Offer ended on</th>
                          </tr>
                          <tr>
                            <td>75 kgs</td>
                            <td>37 kgs</td>
                            <td>12/12/2018</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" [ngbCollapse]="isCollapsed">
                <div class="card mb-3">
                  <div class="card-header bg-warning">
                    <img src="https://greenmylife-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/Carrot.jpg" class="avatar">
                    APPLE
                    <div class="pull-right">VIEW FULL DETAILS</div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table borderless">
                        <tbody>
                          <tr>
                            <th class="tableHeader">Offers</th>
                            <th class="tableHeader">Sub-offers</th>
                            <th class="tableHeader">Price</th>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>4</td>
                            <td>1.46/kg</td>
                          </tr>
                          <tr>
                            <th class="tableHeader">Quantity available</th>
                            <th class="tableHeader">Quantity sold</th>
                            <th class="tableHeader">Last Offer ended on</th>
                          </tr>
                          <tr>
                            <td>75 kgs</td>
                            <td>37 kgs</td>
                            <td>12/12/2018</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" [ngbCollapse]="isCollapsed">
                <div class="card mb-3">
                  <div class="card-header bg-danger">
                    <img src="https://greenmylife-wpengine.netdna-ssl.com/wp-content/uploads/2014/02/Carrot.jpg" class="avatar">
                    ORANGE
                    <div class="pull-right">VIEW FULL DETAILS</div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table borderless">
                        <tbody>
                          <tr>
                            <th class="tableHeader">Offers</th>
                            <th class="tableHeader">Sub-offers</th>
                            <th class="tableHeader">Price</th>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>4</td>
                            <td>1.46/kg</td>
                          </tr>
                          <tr>
                            <th class="tableHeader">Quantity available</th>
                            <th class="tableHeader">Quantity sold</th>
                            <th class="tableHeader">Last Offer ended on</th>
                          </tr>
                          <tr>
                            <td>75 kgs</td>
                            <td>37 kgs</td>
                            <td>12/12/2018</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
      <div class="col-md-12">
          <ngb-carousel>
              <ng-template ngbSlide *ngFor="let slider of sliders">
                  <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                  <div class="carousel-caption">
                      <h3>{{slider.label}}</h3>
                      <p>{{slider.text}}</p>
                  </div>
              </ng-template>
          </ngb-carousel>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
      </div>
  </div>
  <hr />
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
  <hr />
  <div class="row">
      <div class="col-lg-8">
          <div class="card card-default">
              <div class="card-header">
                  <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
              </div>
              <app-timeline></app-timeline>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card card-default mb-3">
              <div class="card-header">
                  <i class="fa fa-bell fa-fw"></i> Notifications card
              </div>
              <app-notification></app-notification>
          </div>

          <app-chat></app-chat>
      </div>
  </div> -->