.headerGray {
    color: #868e96 !important;
}

.headerleft {
    margin-left: 0px;
    margin-top: 25px;
}

.offerLabel {
    color:#FF7800;
}

.themeBtnColor {
    background-color:#FF7800;
    border-color:#FF7800;
    margin: 5px;
    color:#fff;
}

.themeLabelColor {
    color:#FF7800;
}

.borderless td, .borderless th {
    border: none;
}

.inlineBlock {
    display:inline-block;
}
