<app-header style="background-color:greenyellow"></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">
  <router-outlet></router-outlet>
</section>

<div *ngIf="myWidth < 1000">
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center">
      <!-- <div class="table-responsive">
        <table class="table borderless">
          <tbody>
            <tr>
              <td>
                <div><img src="../../assets/images/Components/ic_offers_tab_active.png" class="img-responsive"></div>
              </td>
              <td>
                <div><img src="../../assets/images/Components/ic_orders_tab_active.png" class="img-responsive"></div>
              </td>
              <td>
                <div><img src="../../assets/images/Components/ic_archive_tab_active.png" class="img-responsive"></div>
              </td>
            </tr>
            <tr>
              <td class="tableHeader">{{ 'Offer' | translate }}</td>
              <td class="tableHeader">{{ 'Order' | translate }}</td>
              <td class="tableHeader">{{ 'Archive' | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <div class="row">
        <div class="div-align cursor py-3" [style.border-top]="offerColor" [style.background-color]="offerBg" (click)="offer()" [routerLink]="['/offers']">
          <img src="../../assets/images/Components/ic_offers_tab_active.png" class="img-responsive"><br />
          <h3 class="header-label">{{ 'Offer' | translate }}</h3>
        </div>
        <div class="div-align cursor py-3" [style.border-top]="orderColor" [style.background-color]="orderBg" (click)="order()">
          <img src="../../assets/images/Components/ic_orders_tab_active.png" class="img-responsive"><br />
          <h3 class="header-label">{{ 'Order' | translate }}</h3>
        </div>
        <div class="div-align cursor py-3" [style.border-top]="archiveColor" [style.background-color]="archiveBg" (click)="archive()" [routerLink]="['/archive']">
          <img src="../../assets/images/Components/ic_archive_tab_active.png" class="img-responsive"><br />
          <h3 class="header-label">{{ 'Archive' | translate }}</h3>
        </div>
      </div>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>