.headerGray {
    color: #868e96 !important;
}

.headerleft {
    margin-left: 15px;
    margin-top: 25px;
}

.offer-label {
    color:#2D3A4C;
    font-size: 20px;
    //font-family: Muli, SemiBold;
}

.offerLabel {
    color:#FF7800;
}

.help-label {
    color:#838A95;
    font-size: 14px;
    //font-family: Muli, Regular;
}

.themeLabelColor {
    color:#FF7800;
}

.borderless td, .borderless th {
    border: none;
}

.inlineBlock {
    display:inline-block;
}

.tableHeader {
    color:#BABEC5;
    font-size: 12px;
    //font-family: Muli, Bold;
}

.tableHeaderColor {
    background-color:#FF7800;
    color:#BABEC5;
    font-size: 12px;
}

.tableBody {
    color: #424D5D;
    font-size: 14px;
    //font-family: Muli, SemiBold;
}

.tableBodyColor {
    background-color:#FF7800;
    color: #424D5D;
    font-size: 14px;
}

.step-align {
    text-align: center;
    color:#2D3A4C;
    font-size: 14px;
}

.help-align {
    color:#2D3A4C;
    font-size: 12px;
}

.catalog-align {
    text-align: center;
    color:#BABEC5;
    font-size: 12px;
}

.avatar {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.themeBtnColor {
    background-color: #FF7800;
    border-color: #FF7800;
    margin: 10px;
    color:#fff;
    height:50px;
    width:200px;
    font-size: 14px;
    //font-family: Muli, SemiBold;
}

.cancelBtn {
    height:50px;
    width:200px;
    color:#C9CBD0;
    font-size: 14px;
    //font-family: Muli, SemiBold;
}

.backBtn {
    height:50px;
    width:200px;
    background-color: #424D5D;
    border-color: #424D5D;
    margin: 10px;
    color:#fff;
    font-size: 14px;
    //font-family: Muli, SemiBold;
}

.product-style {
    color: #2D3A4C;
    font-size: 14px;
}

.label-style {
    color:#2D3A4C;
    font-size: 14px;
}

.slider-div {
    background-color:#F1F5F7;
}

.inlineBlock {
    display:inline-block;
}

.margin-align {
    margin-top: 35px;
}

